* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    padding: 10px;
    
}

.header-links {
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 400;
    margin-right: 40px;
}

.logo {
    margin-left: 40px;
    padding: 5px;
    display: flex;
    gap: 20px;
}

.logo-text {
    font-style: italic;
}

.logo-background {
    background-color: rgba(79, 170, 161, 0.555);
    border-radius: 50%;
    padding: 5px;

}

.logo-image {
    width: 50px;
    height: 50px;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(91, 153, 147);
    font-weight: 900;
}

.container-one {
    background-image: url('../images/waves.jpg')
}
.hero {
    display: flex;
    background-image: linear-gradient(#439e80, #146b4e, #053b29);
    justify-content: center;
    align-items: center;
}

.hero-button {
    border-radius: 5px;
    background-color:rgb(79, 170, 161);
    border-color: rgb(79, 170, 161);
    color: rgb(128, 39, 128);
    margin-top: 15px;
    padding: 15px;
    font-size: 18px;
    
}

.hero-left {
    margin-left: 40px;
    width: 1000px;
    
}

.hero-right {
    margin-right: 40px;

}

.caption {
    color: rgb(230, 230, 210);
    font-size: 18px;
    text-align: center;
}

.orange-fish {
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 25px;
    height: 35-px;;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.hero-secondary-text {
    font-size: 24px;
    margin-bottom: 10px;
}

.call-action {
    font-size: 20px;
    color: rgb(27, 27, 112);
    font-weight: bold;
    margin-bottom: 15px;
}

.container-two {
    background-color: black;
    padding: 30px;
} 

.image-container {
    width: 300px;

}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 15px 10px;
    padding: 30px;
}

.gallery-image {
    width: 300px;
    height: 198px;
    border: 3px solid rgb(128, 39, 128);
    border-radius: 5px;
}

.gallery-text {    
    color: rgb(230, 230, 210);
    font-size: 18px;
    width: 300px;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    background-image: url('../images/waves.jpg');
    padding: 15px;
}

.info-text {
    font-size: 34px;
    font-weight: bolder;
    text-align: center; 
    margin-top: 15px;
    color:  rgb(128, 39, 128);
  
}

.container-three {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#439e80, #146b4e, #053b29);
}

.quote-container {
    margin: 30px;
    width: 800px;
    padding: 60px;
}

.quote {
    font-size: 34px;
    font-style: italic;
    color:rgb(6, 6, 56)
}
.end-quote {
    text-align: right;
    font-weight: 600;
    font-size: 18px;
}

.container-four {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.action-container {
    background-color:rgb(79, 170, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 50px 0px;
    border-radius: 10px;

}

.action-left {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: left;

}
.action-title {
    color:  rgb(128, 39, 128);
    font-size: 20px;
    font-weight: bold;
    }

.action-subtitle {
    color:  rgb(128, 39, 128);
    font-size: 16px; 
}
.action-button {
    height: 30px;
    align-self: center;
    border-radius: 5px;
    background-color:rgb(79, 170, 161);
    border-color: rgb(128, 39, 128);
    color: rgb(128, 39, 128);
    width: 15%;
    font-size: 14px;
   
    
}

